
#container {
   border: solid lightgray;
   text-align: center;
   padding: 15px;
   width: 50vw;
   margin: auto;
}

.clear {
    background: lightgray;
    border: solid lightgray;
}

.display {
    width: 15vw;
    border: solid lightgray;
}


.number {
    background: white;
    border: solid lightgray;
}

.sign {
    background: yellow;
    border: solid lightgray;
}